#home .explaination {
  padding-left: 15%;
  padding-right: 15%;
}
#home .jumbotron {
  display: grid;
  grid-template-columns: auto 50% auto;
  min-height: 85vh;
  min-width: 100vw;
  border: 2px black solid;
  align-content: center;
  justify-content: center;
  column-gap: 5px;
}
#home .jumbotron button:not([type=submit]) {
  width: 100%;
  color: white;
  background-color: black;
  border-radius: 0%;
  box-shadow: 3rem black;
}
#home .jumbotron button:hover {
  background-color: white;
  color: black;
}
#home .jumbotron h1 {
  color: black;
  font-size: 9rem;
  margin: 0px;
  height: 100%;
  display: block;
  grid-column: 2;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: auto;
}
#home .jumbotron .playBtn {
  margin-left: auto;
}
#home .jumbotron .controls {
  grid-column: 2;
}
#home #signin {
  /* position: relative; */
}
#home #signin button {
  font-size: 3rem;
  margin: 3px;
}
#home form {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  width: 50%;
  height: 15rem;
  row-gap: 4px;
  align-content: center;
  background-color: white;
  border: black solid 1px;
  padding: 3rem;
}
#home form button[type=submit] {
  grid-column: span 2;
  border-radius: 0%;
  color: white;
  background-color: black;
  margin: 0px;
}
#home form button[type=submit]:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

header nav#main {
  background-color: black;
  color: white;
  min-height: 5vh;
  line-height: 5vh;
  padding: 7px;
}
@media only screen and (min-width: 1100px) {
  header nav#main {
    word-spacing: 15px;
    width: 100vw;
    margin: none;
    padding-left: 5vw;
    min-height: 5vh;
    line-height: 5vh;
  }
  header nav#main > a {
    color: white;
    font-size: 1 rem;
  }
}

#game {
  display: grid;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  row-gap: 5rem;
  grid-template-columns: auto 20% 20% 20% auto;
}
#game h1 {
  grid-column: 2/5;
  width: 100%;
}
#game #question, #game h1, #game #source {
  grid-column: 2/5;
  text-align: center;
}
#game #answers {
  display: grid;
  grid-column: 2/5;
  grid-template-columns: 50% 50%;
  row-gap: 10px;
  column-gap: 10px;
  padding-inline-start: 0px;
}
#game #answers .answer {
  padding: 5rem;
  list-style: none;
  background-color: black;
  color: white;
}
#game #answers .picked {
  background-color: green !important;
}

#endofround {
  display: grid;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  row-gap: 5rem;
  grid-template-columns: auto 20% 20% 20% auto;
}
#endofround h1, #endofround table {
  grid-column: 2/5;
}
#endofround h1 {
  text-align: center;
}
#endofround table {
  border-collapse: collapse;
  border: 2px solid black;
}
#endofround table td {
  border: 2px solid black;
}
#endofround table thead > td {
  color: white;
  background-color: black;
}

#waiting {
  padding: 5%;
}
#waiting ul {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
  height: 60vh;
}
#waiting ul .player {
  line-height: 20px;
  list-style: none;
  border: 2px solid black;
  height: 20px;
}
#waiting progress {
  width: 95%;
}
#waiting button {
  color: white;
  background-color: green;
  border-radius: 0px;
}
#waiting button:disabled {
  background-color: grey;
}

html, body, .root {
  max-width: 100vw;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
}

a:hover {
  text-decoration: wavy;
}

.hide {
  display: none !important;
}

main button {
  border: none;
  border-radius: 15px;
  align-self: center;
}
main button:hover {
  background-color: black;
  color: white;
}

/*# sourceMappingURL=main.css.map */
