@use 'variables';
#home{

.explaination{
padding-left:15%;
padding-right:15%;
}


.jumbotron{
//background: radial-gradient(circle at center, variables.$white, variables.$main );
display: grid;
grid-template-columns: auto 50% auto;
min-height : 85vh;
min-width:100vw;
border : 2px black solid;
align-content: center;
justify-content: center;
column-gap: 5px;

button:not([type="submit"]){
    width:100%;
    color:white;
    background-color: black;
    border-radius: 0%;
    box-shadow: 3rem black;
}
button:hover{
    background-color: white;
    color:black;
}
h1{
    color: black;// variables.$rich;
    font-size: 9rem;
    margin:0px;
    height: 100%;
    display:block;
    grid-column: 2;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: auto;
    }
    .playBtn{
        margin-left:auto;
        
    }
    .controls{
        grid-column: 2;
        
    }
}

#signin{
button{
    font-size: 3rem;
    margin : 3px;
}
/* position: relative; */

}
form{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    width:50%;
    height: 15rem;
    row-gap: 4px;
    align-content: center;
    background-color: white;
   
    border: black solid 1px;
    padding:3rem;
    button[type="submit"]{
        grid-column: span 2;
        border-radius: 0%;
        color:white;
        background-color: black;
        margin:0px;
    }
    button[type="submit"]:hover{
        color:black;
        background-color: white;
        border: 2px solid black;
    }


}



}