#waiting{

ul{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    height:60vh;
    .player{
        line-height:20px;
        list-style: none;
        border: 2px solid black;
        height:20px;
    }
}
#details{
    
}
padding: 5%;
progress{
    width:95%;
}
button{
    color:white;
    background-color: green;
    border-radius:0px;
}
button:disabled{
    background-color: grey;
}
}